@model GroupManager.Models.GroupViewModels.CommentViewModel
    <div class="panel">
        <div class="row">
            <div class="col-md-10">
                <pre class="display-field">@Model.Text</pre>
            </div>
            <div class="col-md-2">
                @await Component.InvokeAsync("User", Model.User)
            </div>
        </div>
        <span class="label label-success">Posted: @Html.DisplayFor(model => model.TimePosted)</span>
        @if (Model.TimeModified.HasValue)
        {
            <span class="label label-info">Modified: @Model.TimeModified.Value</span>
        }
        <a asp-controller="Comment" asp-action="Edit" asp-route-commentId="@Model.Id">Edit</a>
    </div>