@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Selska Cesta 116E<br />
    10 000, Zagreb<br />
    <abbr title="Phone">P:</abbr>
    +385 99 352 0653
</address>

<address>
    <strong>Support:</strong> <a href="mailto:zlatko1996@windowslive.com">zlatko1996@windowslive.com</a><br />
</address>
