@model GroupManager.Models.GroupViewModels.HomeGroupViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.AnyActive)
{
    <a asp-controller="Group" asp-action="Index">Select your active group</a>
}
else
{
    <h1>@Model.Name</h1>
    <a asp-controller="Group" asp-action="AddPost">Add new post</a>
    @foreach (var post in Model.Posts)
     {
         @Html.Partial("PostPartial", post);
     }
    @if (Model.Posts == null)
     {
         <span>No posts available</span>
     }
}
