@model GroupManager.Models.GroupViewModels.AddUserViewModel
@{
    ViewData["Title"] = "Add user in group";
}
<h2>Add user in group</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label">E-Mail</label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
                @if (Model != null)
                {
                    <span class="text-danger">@Model.Message</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
