@using System.ComponentModel.Design
@model GroupManager.Models.GroupViewModels.GroupIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Add">Create New Group</a> |
    <a asp-action="AddUser">Add User</a> |
    <a asp-action="SetNick">Change Nick</a> |
    <a asp-controller="User" asp-action="List">List Users</a> |
    <a asp-controller="User" asp-action="Index">Edit My Profile</a> |
    <a asp-controller="Balance" asp-action="Index">Balance</a> |
    <a asp-controller="Event" asp-action="List">Events</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Groups)
        {
            <tr>
                <td>
                    @item.Name |
                    @if (item == Model.ActiveGroup)
                    {
                        <span>Active group</span>
                    }
                    else
                    {
                        <a asp-action="SetActive" asp-route-groupId="@item.Id">Set as active group</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
